body, label, input, textarea, select, button {
	font-family: "Helvetica Neue",Arial,sans-serif;
}
html, body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	color: #FFF;
	background-color: #000;
}
.front-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 545px;
	max-height: 750px;
}
.front-bg {
	position: fixed;
	width: 200%;
	height: 200%;
	left: -50%;
	background: #000;
}
.front-bg img {
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0;
	display: block;
}
.front-card {
	top: 50%;
	height: 348px;
	width: 838px;
	margin: -164px 0 0 -418px;
	position: absolute;
	left: 50%;
	overflow: hidden;
}
.front-welcome {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 520px;
	height: 328px;
	background: 0;
	border: 0;
}
.front-welcome-text {
	position: absolute;
	left: 0;
	width: 470px;
	padding: 0;
	top: 30px;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	color: #eee;
	text-align: left;
	text-shadow: #000 0 1px 2px;
}
.front-welcome-text h1 {
	margin: 0 0 3px 0;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	text-rendering: optimizeLegibility;
}
.front-welcome-text p {
	margin: 0;
}

.front-signin, .front-signup, .front-url {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	border-radius: 4px;
	background: transparent url(../img/45stripe_bg.png) 0 0 repeat;
	margin-bottom: 40px;
	padding-bottom: 1px;
	position: relative;
	overflow: hidden;
}
.front-signin {
	position: absolute;
	top: 0;
	/*left: 536px;*/
	left: 900px;
	width: 300px;
	height: 127px;
}
.front-signup {
	position: absolute;
	top: 138px;
	/*left: 536px;*/
	left: 900px;
	width: 300px;
	height: 204px;
}
.front-url {
	position: absolute;
	top: 120px;
	left: 0px;
	width: 838px;
	height: 90px;
}
.signin, .signup, .remind {
	font-size: 12px;
	margin: 12px;
}

.signup-btn {
	background-color: #fd9a0f;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fee94f),color-stop(100%,#fd9a0f));
	background-image: -webkit-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -ms-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -o-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee94f',endColorstr='#fd9a0f',GradientType=0);
	border: 1px solid #fa2;
	height: 30px;
	margin: 0;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	display: inline-block;
	padding: 0px 10px;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	cursor: pointer;
	border-radius: 4px;
}
.signup-btn:hover, .signup-btn:focus {
    color: #333;
    background-color: #fd9512;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fedc4d), color-stop(100%, #fd9512));
    background-image: -webkit-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -ms-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -o-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: linear-gradient(top, #fedc4d 0, #fd9512 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedc4d', endColorstr='#fd9512', GradientType=0);
    border-color: #ec8b11;
}
.signup-btn:active {
    background-image: none;
    border-color: #ec8b11;
}
.text-input {
	width: 266px;
	margin-bottom: 6px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	-webkit-transition: .2s linear background;
	-moz-transition: .2s linear background;
	transition: .2s linear background;
	display: inline-block;
	padding: 4px;
	outline: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 13px;
	line-height: 20px;
	height: 20px;
}
.remind {
	display: none;
	margin-top: 30px !important;
}
.signin table, .remind table, .signup table {
	width: 276px;
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}
.align-right {
	text-align: right !important;
}
.front-signup h2 {
	position: relative;
	display: block;
	padding: 10px 12px;
	margin: 0 0 12px 0;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	border-bottom: 1px solid #333;
	-webkit-box-shadow: 0 1px 0 #000;
	box-shadow: 0 1px 0 #000;
	text-shadow: 0 1px 0 #000;
	line-height: 20px;
}
.front-signup h2 strong {
	font-weight: 500;
	color: #EEE;
}

.signin-btn {
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(#33bcef,#019ad2);
	background-image: -ms-linear-gradient(#33bcef,#019ad2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33bcef),color-stop(100%,#019ad2));
	background-image: -webkit-linear-gradient(#33bcef,#019ad2);
	background-image: -o-linear-gradient(#33bcef,#019ad2);
	background-image: linear-gradient(#33bcef,#019ad2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
	border: 1px solid #057ed0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	width: auto;
	white-space: nowrap;
	height: 30px;
	-webkit-box-shadow: 0 1px 0 #000;
	box-shadow: 0 1px 0 #000;
	position: relative;
	display: inline-block;
	padding: 0px 10px;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	cursor: pointer;
	border-radius: 4px;
	margin: 0;
}
.signin-btn:hover, .signin-btn:focus {
	color:#fff;
	background-color:#0271bf;
	background-repeat:repeat-x;
	background-image:-moz-linear-gradient(#2daddc,#0271bf);
	background-image:-ms-linear-gradient(#2daddc,#0271bf);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2daddc),color-stop(100%,#0271bf));
	background-image:-webkit-linear-gradient(#2daddc,#0271bf);
	background-image:-o-linear-gradient(#2daddc,#0271bf);
	background-image:linear-gradient(#2daddc,#0271bf);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
	border-color:#096eb3
}
.signin-btn:active {
	background-image:none;
	border-color:#096eb3
}
.front-signin .forgot, .front-signup .forgot {
	display: inline;
	margin: 0;
	font-size: 11px;
	line-height: 13px;
	color: #888;
	text-shadow: 0 1px 0 rgba(0,0,0,.6);
	text-decoration: underline;
}
.front-signin .forgot:hover, .front-signup .forgot:hover {
	color: #999;
	text-decoration: none;
}
.front-container .footer {
	color: rgba(255,255,255,.25);
	position: absolute;
	bottom: 30px;
	width: 100%;
	font-size: 11px;
	color: #fff;
	text-align: center;
}
.inner-footer {
	font-size: 11px;
	color: #fff;
	margin-bottom: 20px;
}
.footer ul, .inner-footer ul {
	width: 838px;
	text-align: left;
	margin: 0 auto;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer ul li, .inner-footer ul li {
	margin: 0 6px 0 0;
	display: inline;
}
.footer a, .inner-footer a {
	color: #FFF !important;
	text-decoration: none;
}
.footer a:hover, .footer a:visited, .inner-footer a:hover, .inner-footer a:visited {
	color: #FFF !important;
	text-decoration: underline;
}
.topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px rgba(0,0,0,.25);
	height: 36px;
	background: #252525 url(../img/topbar-bg.png) 0 0 repeat;
}
.topbar-center {
	width: 838px;
	margin: 0 auto;
}
.topbar-center ul {
	text-align: left;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.topbar-center ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 36px;
	height: 36px;
	position: relative;
}
.topbar-center ul li a {
	display: inline-block;
	padding: 0 5px;
	color: #bbb;
	text-shadow: 0 -1px 1px rgba(0,0,0,.75);
	text-decoration: none;
}
.topbar-center ul li.active a,
.topbar-center ul li:hover a {
	color: #FFF;
	background: #252525;
}
.topbar-profile-box {
	position: absolute;
	min-width: 100%;
	top: 36px;
	right: 0;
	background: #252525;
	background: rgba(37,37,37,0.98);
	display: none;
	line-height: 1;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.7);
}

.topbar-center ul li:hover .topbar-profile-box {
	display: block;
}

.topbar-profile-box-content {
	margin: 8px;
}
.topbar-profile-box-content img {
	border: 1px solid #888;
}
.topbar-profile-box-content table {
	border-collapse: collapse;
	border-spacing: 0;
}
.topbar-profile-box-content table td {
	vertical-align: top;
	padding-right: 8px;
}
.topbar-profile-box-content ul {
	text-align: left;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
}
.topbar-profile-box-content ul li {
	margin: 0;
	padding: 0;
	display: block;
	line-height: 1.7;
	height: auto;
}
.topbar-profile-box-content ul li a {
	margin: 0;
	padding: 0;
	height: auto;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: normal;
	color: #AAF !important;
}
.topbar-profile-box-content ul li a:hover, 
.topbar-profile-box-content ul li a:visited {
	color: #AAF !important;
	text-decoration: underline;
}

.pull-right {
	float: right;
}
.topbar-center h1, .topbar-center h1 a {
	display: inline-block;
	padding: 0px 20px 0px 0px;
	color: #DDD;
	text-shadow: 0 -1px 1px rgba(0,0,0,.75);
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px;
	font-size: 14px;
	line-height: 35px;
}
.loading {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: #FFF url(../img/loading.gif) 50% 50% no-repeat;
	opacity: 0.7;
	display: none;
}
.loading-dark {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: #000 url(../img/loading.gif) 50% 50% no-repeat;
	opacity: 0.7;
	display: none;
}
.front-page {
	position: absolute;
	top: 70px;
	width: 838px;
	z-index: 9998;
	left: 50%;
	margin-left: -419px;
}
.front-content {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	border-radius: 4px;
	background: transparent url(../img/45stripe_bg.png) 0 0 repeat;
	margin-bottom: 10px;
	padding-bottom: 1px;
	position: relative;
}
.front-content h2 {
	position: relative;
	display: block;
	padding: 10px 12px;
	margin: 0 0 12px 0;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	border-bottom: 1px solid #333;
	-webkit-box-shadow: 0 1px 0 #000;
	box-shadow: 0 1px 0 #000;
	text-shadow: 0 1px 0 #000;
	line-height: 20px;
}
.front-content h2 strong {
	font-weight: 500;
	color: #EEE;
}
.front-content .front-settings {
	margin: 20px 12px;
	color: #EEE;
	font-size: 14px;
}
.table-settings {
	border-collapse: collapse;
	border-spacing: 0;
	width: 60%;
	margin: 0 auto;
	
}
.table-settings td, .table-settings th,
.table-listing td, .table-listing th{
	vertical-align: top;
}
.table-settings th {
	font-weight: 500;
	padding: 5px 5px 5px 5px;
	text-align: left;
	line-height: 28px;
}
.table-settings td {
	padding: 5px 5px 5px 5px;
}
.line-height-28 {
	line-height: 28px;
}
.widefat {
	width: 100%;
	margin-bottom: 6px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	-webkit-transition: .2s linear background;
	-moz-transition: .2s linear background;
	transition: .2s linear background;
	display: inline-block;
	padding: 4px;
	outline: 0;
	background-color: #333;
	opacity: 0.7;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 13px;
	line-height: 20px;
	height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #CCC;
}
.number {
	width: 80px;
	margin-bottom: 6px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	-webkit-transition: .2s linear background;
	-moz-transition: .2s linear background;
	transition: .2s linear background;
	display: inline-block;
	padding: 4px;
	outline: 0;
	background-color: #333;
	opacity: 0.7;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 13px;
	line-height: 20px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #CCC;
	text-align: right;
}
.table-settings em {
	color: #888;
	font-size: 12px;
	line-height: 15px;
}
.signup-btn-dark {
	background-color: #fd9a0f;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fee94f),color-stop(100%,#fd9a0f));
	background-image: -webkit-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -ms-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -o-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee94f',endColorstr='#fd9a0f',GradientType=0);
	border: 1px solid #fa2;
	height: 30px;
	margin: 0;
	-webkit-box-shadow: 0 1px 0 #000;
	box-shadow: 0 1px 0 #000;
	display: inline-block;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	cursor: pointer;
	border-radius: 4px;
}
.signup-btn-dark:hover, .signup-btn-dark:focus {
    color: #333;
    background-color: #fd9512;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fedc4d), color-stop(100%, #fd9512));
    background-image: -webkit-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -ms-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -o-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: linear-gradient(top, #fedc4d 0, #fd9512 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedc4d', endColorstr='#fd9512', GradientType=0);
    border-color: #ec8b11;
}
.signin-btn-dark:active {
	background-image:none;
	border-color:#096eb3
}
.front-content .front-table {
	margin: 20px 12px;
	color: #EEE;
	font-size: 14px;
	min-height: 220px;
}

.table-listing {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #888;
	
}
.table-settings hr {
	background-color: #000;
	border-top: 1px solid #888;
	border-bottom: 1px solid #333;
	border-left: none;
	border-right: none;
}
.table-listing th {
	font-weight: 500;
	padding: 5px 5px 5px 5px;
	line-height: 28px;
	text-align: left;
}
.table-listing td {
	border-top: 1px solid #888;
	padding: 5px;
}
.table-listing em {
	font-size: 12px;
	color: #888;
}
.table-listing em a {
	font-size: 12px;
	color: #888;
	text-decoration: none;
}
.table-listing em a:hover {
	text-decoration: underline;
}
.table-listing .no-records {
	padding: 50px 0px;
	text-align: center;
}
.legend {
	margin: 20px 5px;
	color: #888;
}
.legend ul {
	text-align: left;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0 0 0 0px;
}
.legend ul li {
	display: inline-block;
	margin: 0px 20px 0px 0px;
	line-height: 20px; 
	font-size: 12px; 
	color: #888; 
	vertical-align: middle;	
}
.paginator-top {
	margin: 5px 5px 10px 0px;
	text-align: right;
}
.paginator-bottom {
	margin: 15px 5px 15px 0px;
	text-align: right;
}
.pagiation-links {
	color: #888;
}
.pagiation-links span, .pagiation-links a, .pagiation-links a:visited {
	display: inline-block;
	line-height: 22px;
	height: 22px;
	min-width: 22px;
	border: 1px solid #888;
	text-align: center;
	text-decoration: none;
	color: #888;
	-webkit-box-shadow: 0 1px 0 #000;
	box-shadow: 0 1px 0 #000;
	border-radius: 3px;
}
.pagiation-links span, .pagiation-links a:hover, .pagiation-links a:active {
	background-color: #fd9a0f;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fee94f),color-stop(100%,#fd9a0f));
	background-image: -webkit-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -ms-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -o-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee94f',endColorstr='#fd9a0f',GradientType=0);
	border: 1px solid #fa2;
	-webkit-box-shadow: 0 1px 0 #000;
	box-shadow: 0 1px 0 #000;
	border-radius: 3px;
	color: #333;
}
label.checkbox {
	padding-left: 28px;
	background: transparent url(../img/checkbox.gif) 0 -3px no-repeat;
	cursor: pointer;
	color: #888;
}


.widefat-main {
	width: 100%;
	margin: 0px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075);
	-webkit-transition: .2s linear background;
	-moz-transition: .2s linear background;
	transition: .2s linear background;
	display: inline-block;
	padding: 0 10px;
	outline: 0;
	background-color: #333;
	opacity: 0.7;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 25px;
	line-height: 40px;
	height: 48px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #CCC;
	font-weight: 100;
}
.button-main {
	background-color: #fd9a0f;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fee94f),color-stop(100%,#fd9a0f));
	background-image: -webkit-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -ms-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -o-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee94f',endColorstr='#fd9a0f',GradientType=0);
	border: 1px solid #fa2;
	height: 48px;
	margin: 0;
	-webkit-box-shadow: 0 1px 0 #000;
	box-shadow: 0 1px 0 #000;
	display: block;
	padding: 0px 10px;
	font-size: 25px;
	font-weight: bold;
	line-height: 40px;
	cursor: pointer;
	border-radius: 4px;
	width: 100%;
	vertical-align: middle;
	color: #000;
}
.button-main:hover, .button-main:focus {
    background-color: #fd9512;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fedc4d), color-stop(100%, #fd9512));
    background-image: -webkit-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -ms-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: -o-linear-gradient(top, #fedc4d 0, #fd9512 100%);
    background-image: linear-gradient(top, #fedc4d 0, #fd9512 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedc4d', endColorstr='#fd9512', GradientType=0);
    border-color: #ec8b11;
}
.button-main:active {
	background-image:none;
	border-color:#096eb3
}
.front-url-label {
	margin: 5px 0px 0px 7px;
	color: #888;
	font-size: 14px;
	line-height: 14px;
}
a {
	color: #AAF;
	text-decoration: none;
}
a:hover, a:active, a:visited {
	color: #88F;
	text-decoration: underline;
}
li.account-id {
	vertical-align: middle;
}
li.account-id a img {
	vertical-align: middle;
	padding: 0;
	margin: 0;
	border: 0;
}
li.account-id a {
	text-transform: lowercase;
	font-weight: 700;
}
.front-url-logged {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	border-radius: 4px;
	background: transparent url(../img/45stripe_bg.png) 0 0 repeat;
	margin-bottom: 20px;
	position: relative;
	height: 58px;
	overflow: hidden;
}
.table-search {
	border-collapse: collapse;
	border-spacing: 0;
	width: 50%;
}
.table-search td {
	vertical-align: top;
	padding: 5px 0px 5px 5px;
}
.text-content {
	padding: 10px 20px;
	line-height: 1.7;
	text-align: justify;
}
.text-content p {
	margin: 0;
	padding: 0 0 10px 0;
}
.text-content h3 {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 15px;
	color: #FFF;
}
.text-content pre {
	margin: 0;
	padding: 0 0 10px 0;
}
#chartbox {
	height: 480px;
	margin-top: 20px;
}